{% extends "simple/base.html" %}
{% from 'simple/icons.html' import icon_big %}
{% block content %}
<div class="index">
    <div class="title_logo">
        <a href="https://search.codemusic.ca" title="{{ _('Refresh MusaiSearch') }}" aria-label="{{ _('Refresh MusaiSearch') }}">
            <img src="{{ url_for('static', filename='img/searxng.png') }}" alt="MusaiSearch">
        </a>
    </div>
    {% include 'simple/simple_search.html' %}
</div>
<style>
    .index .title_logo
    {
        justify-content: center;
        align-items: center;
        margin: 2rem auto;
        min-height: 4rem;
    }

    .index .title_logo img
    {
        width: 20%;
        height: auto;
        max-width: 720px;
    }
</style>
{% endblock %}
